*{
    margin: 0;
    box-sizing: content-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 18% 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: "nav nav"
                         "aside main";
}

/* Estilos de la barra de navegacion */
nav{
    grid-area: nav;
    background-color: #2E4AAD; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo_app{
    padding: 0 20px;
}
.titulo_app h1{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.logout{
    text-align: end;
}

.logout a{
    position: relative;
    width: 200px;
    background-color: #D43636;
    color: #ffffff;
    padding: 8px 5%;
    margin: 0 0 0 10px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.19);
}

.logout span{
    color: #ffffff;
}


/* Estilos de los modulos */
aside{
    grid-area: aside;
    /* background-color: #262626; */
    
}

.name_user{
    color:#ffffff;
    padding: 10px 0 ;
}

.name_user h1{
    font-size: 24px;
    text-align: center;
}

.list_module{
    list-style: none;
    color: #ffffff;
    padding: 10px 0;
    /* /* height: 100%; */
} 

.list_module li{
    padding: 0;
    margin: 0;
}

.list_module li a{
    text-decoration: none;
    display: flex;
    padding: 10px;
    margin: 14px;
    border-radius: 8px;
    transition: color 0.1s, background-color 0.1s;
}

.list_module li a:hover{
    color: #ffffff;
    background-color: #383838;
    transition: color 0.4s, background-color 0.4s;
}


/* estilos de la parte principal del AppWeb */
main{
    grid-area: main;
    margin: 10px 10px 0 10px;
    display: grid;
    grid-template-columns: 22% 1fr;
    grid-template-rows: 14% 1fr;
    grid-template-areas: "title title"
                         "users proy";
}

.title_proy{
    grid-area: title;
    margin: 0 10px;
    padding: 20px 0;
    border-radius: 18px;
    background-color: rgba(196, 196, 196, .24);
    display: flex;
    align-items: center;
}

.title_proy h1{
    font-size: 24px;
    padding: 0 20px;
}



.list_users{
    grid-area: users;
    margin: 20px 10px 0 10px;
    padding: 0 20px;
    border-radius: 18px 18px 0 0;
    background-color: rgba(196, 196, 196, .24);
}

.list_users h1{
    font-size: 18px;
    padding: 20px 0 0 0;
}

.list_users ul{
    list-style: none;
    padding: 8px 0;
}
.list_users ul li{
    padding: 14px 0;
    font-size: 12px;
}

.list_users ul li img{
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.list_proy{
    grid-area: proy;
    margin: 20px 10px 0 10px;
    border-radius: 18px 18px 0 0;
    background-color: rgba(196, 196, 196, .24);
}
.list_proy section{
    margin: 20px;
}

.filtrar{
    margin: 0 0 20px 0;
}